* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    display: block;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

a:visited {
    color: inherit;
}

ul,
li {
    list-style: none;
}

body {
    background-color: #EEEAE7;
}

.header {
    max-width: 1080px;
    margin: 0 auto;
    height: 5rem;
}

.header_wrapper {
    display: flex;
}

.header_titles {
    color: #B99984;
    display: flex;
    margin-top: 2.5rem;
}

.header_titles p {
    padding: 1rem;
}

.header_icon {
    margin-top: 0.5rem;
    position: absolute;
    left: 50%;
}

.header_icon img {
    width: 35px;
    height: 45px;
}

.header_menues {
    color: #B99984;
    display: flex;
    margin: 2.5rem 0 0 auto;
}

.header_menues p {
    padding: 1rem;
}