* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    display: block;
}

body {
    background-color: #EEEAE7;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

a:visited {
    color: inherit;
}

ul,
li {
    list-style: none;
}

.SP {
    display: none;
}


/*ヘッダー*/

.header {
    max-width: 90vw;
    margin: 0 auto;
    height: 5rem;
}

.header_wrapper {
    display: flex;
}

.header_titles {
    color: #B99984;
    display: flex;
    margin-top: 2.5rem;
}

.header_titles p,
.header_menues p {
    padding: 1rem;
}

.header_titles a,
.header_menues a {
    font-size: 1.5vw;
}

.header_icon {
    margin-top: 0.5rem;
    position: absolute;
    left: 48%;
}

.header_icon img {
    width: 35px;
    height: 45px;
}

.header_menues {
    color: #B99984;
    display: flex;
    margin: 2.5rem 0 0 auto;
}


/*アイキャッチ部分*/

.eyecatch {
    max-width: 1080px;
    display: flex;
    margin: 10rem auto 0;
    justify-content: center;
    align-items: center;
}

.eyecatch p {
    font-size: 1.6rem;
    color: #B99984;
}

.left_comments {
    border-bottom: 2px solid #B0917D;
    margin-bottom: 3rem;
}

.left_comments p {
    font-size: 1.3rem;
}

.left_comments h2 {
    color: #B99984;
    font-size: 2.2rem;
    font-weight: 500;
}

.eyecatch_img {
    margin: 0 6rem;
    max-width: 45vw;
    max-height: 480px;
}

.eyecatch_img img {
    max-width: 100%;
}

.eyecatch_img h1 {
    position: absolute;
    font-family: Helvetica;
    z-index: 1;
    font-weight: 500;
    font-size: 7vw;
    color: #806B5D;
    top: 60%;
    left: 25%;
}

.right_comments {
    border-top: 2px solid #B0917D;
    align-self: flex-end;
    margin-bottom: 8rem;
}


/*ディバイダー*/

.divider p {
    color: #806B5D;
    font-size: 2rem;
    white-space: nowrap;
}

.divider {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider:before,
.divider:after {
    border-top: 1px solid #B1907D;
    content: "";
    width: 100%;
}

.divider:before {
    margin-right: 2rem;
}

.divider:after {
    margin-left: 2rem;
}


/*背景黄色部分共通*/

.FR_articles {
    background-color: #EFE7DD;
    margin-top: 5rem;
}


/*カルーセル*/

.carousel {
    max-width: 75vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.items {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    margin: 0;
}

.article {
    max-width: 45%;
    margin: 5rem 2rem;
    position: relative;
}

.article p {
    font-size: 2rem;
    line-height: 4rem;
    color: #707070;
    padding: 0 2rem;
}

.article img {
    width: 100%;
}


/*スライドナビゲーション*/

.slideshow_nav a {
    position: absolute;
    display: flex;
    margin-top: 20rem;
    opacity: 0.7;
}

.slideshow_nav a.prev {
    left: 5%;
    margin-left: 10px;
    align-self: center;
}

.slideshow_nav a.next {
    right: 5%;
    margin-right: 10px;
    align-self: center;
}

.slideshow_nav a.disabled {
    display: none;
}

.slideshow_nav a:hover {
    opacity: 1;
}


/*CTA*/

.cta {
    text-align: center;
    margin-top: 5rem;
}

.cta img {
    max-width: 300px;
    width: 30%
}


/*画像部分*/

.img_divider {
    max-width: 1080px;
    margin: 12rem auto 0;
}

.img_divider img {
    width: 100%;
    height: 80%;
}


/*診療項目*/

.medical_articles {
    display: flex;
    justify-content: space-around;
    max-width: 1080px;
    width: 80vw;
    margin: 0 auto;
}

.medical_item {
    background-color: #FFF;
    margin: 5rem 2rem;
    width: 20%;
}

.medical_item:hover {
    background-color: #e6e6e6;
}

.img_container {
    margin: 3rem 1rem;
    border-bottom: 4px solid #D8C5B5;
    text-align: center;
}

.img_container img {
    width: 80%;
    padding: 2rem 0;
}

.medical_item p {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: #B99984;
    margin-bottom: 3rem;
}


/*画像CTA部分*/

.art_part {
    background-color: #EFE7DD;
    margin-top: 15rem;
    padding-bottom: 3rem;
}

.art_container {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.art_divider {
    width: 50%;
    text-align: center;
}

.left_img {
    background-image: url(media_library/長方形\ 158.png);
    background-size: cover;
    margin: 3rem;
    width: 70%;
    height: 90%;
    display: flex;
}

.left_img img {
    width: 70%;
    height: 80%;
    justify-content: flex-start;
    align-self: flex-end;
}

.right_img {
    text-align: center;
}

.right_img img {
    width: 80%;
    height: 100%;
    margin-top: 2rem;
}

.bottom_art {
    background-color: #EFE7DD;
    margin-top: 20rem;
    text-align: center;
}


/*画像部分*/

.bottom_art img {
    max-width: 1080px;
}


/*フッターのディバイダー*/

.divider_bottom {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider_bottom:before,
.divider_bottom:after {
    border-top: 1px solid #B1907D;
    content: "";
    width: 45%;
}


/*フッター*/

.footer {
    text-align: center;
    margin: 3rem 0 4rem;
}

.footer p {
    color: #806B5D;
    font-size: 1.3rem;
    line-height: 3rem;
}

@media screen and (max-width:767px) {
    html {
        font-size: 6px;
    }
    .SP {
        display: block;
    }
    .PC {
        display: none;
    }
    .header {
        max-width: 100vw;
        height: 7rem;
        position: sticky;
        top: 0px;
        z-index: 2;
        background-color: #EEEAE7;
    }
    .header_icon {
        position: absolute;
        left: 47%;
    }
    .header_icon img {
        width: 25px;
        height: 35px;
    }
    .header_menues {
        margin: 1.5rem auto 0 1rem;
    }
    .header_menues a {
        font-size: 2rem;
        font-weight: 600;
    }
    /*アコーディオン*/
    .accordion>dl {
        position: absolute;
        right: 0;
        top: -35%;
    }
    .accordion>dl>dt {
        padding: 1.5rem 5rem 0;
        font-size: 2.5rem;
        font-weight: 600;
        color: #B99984;
        border-bottom: none !important;
    }
    .accordion>dl>dd>ul>li,
    .accordion>ul>li {
        border-bottom: 1px solid #BDBDBD;
        height: 10rem;
        line-height: 10rem;
        position: relative;
    }
    .accordion>dl>dt:after {
        content: "≡";
        position: absolute;
        right: 10px;
        top: 50%;
        line-height: initial;
        margin: -2rem 0 0;
        font-size: 4rem;
        font-weight: bold;
    }
    .accordion>dl>dt.dopen:after {
        content: "-";
    }
    .accordion>dl>dd {
        background-color: #806B5D;
        display: none;
        position: absolute;
        right: -2%;
        z-index: 2;
    }
    .accordion>dl>dt,
    .accordion>dl>dd>ul>li,
    .accordion>ul>li {
        border-bottom: 1px solid #BDBDBD;
        height: 10rem;
        line-height: 10rem;
        position: relative;
    }
    .accordion>dl>dd>ul>li:after {
        content: "";
        width: 8px;
        height: 8px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        right: 2rem;
        margin: -0.7rem 0 0;
    }
    .accordion>dl>dd a,
    .accordion>ul>li a {
        display: block;
        padding: 0 4rem;
        box-sizing: border-box;
        color: #fff;
    }
    .eyecatch {
        max-width: 90vw;
        margin: 8rem auto 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .eyecatch p {
        font-size: 2rem !important;
    }
    .eyecatch_img {
        margin: 3rem;
        order: -1;
        display: flex;
        justify-content: center;
    }
    .eyecatch_img img {
        max-width: 60vw;
        text-align: center;
    }
    .eyecatch_img h1 {
        top: 27.5%;
        left: 17%;
        font-size: 9vw;
    }
    .left_comments {
        border-left: 2px solid #B0917D;
        border-bottom: none;
        margin: 2rem auto 2rem 15vw;
        padding-left: 2rem;
        text-align: center;
    }
    .right_comments {
        border-right: 2px solid #B0917D;
        border-top: none;
        margin: 2rem 15vw 2rem auto;
        padding-right: 2rem;
        text-align: center;
    }
    .divider p {
        font-size: 2rem;
    }
    .divider {
        margin-top: 10rem;
    }
    .articles_container {
        max-width: 90vw;
        flex-wrap: wrap;
    }
    .article {
        width: 65%;
        height: 80%;
        margin: 5rem auto;
    }
    .article p {
        font-size: 2.5rem;
    }
    .article_link {
        padding-bottom: 3rem;
    }
    .article_link p {
        font-size: 2rem;
        text-align: center;
        color: #B0917D;
    }
    .cta {
        margin-top: 7rem;
    }
    .cta img {
        max-width: 250px;
        width: 45%;
    }
    .img_divider {
        width: 100%;
        margin: 10rem auto 0;
    }
    .medical_articles {
        flex-wrap: wrap;
        max-width: 85vw;
    }
    .medical_item {
        margin: 5rem 2rem;
        width: 40%;
    }
    .img_container {
        margin: 2rem 1rem;
    }
    .img_container img {
        width: 70%;
        padding: 2rem 0;
    }
    .medical_item p {
        font-size: 2rem;
    }
    .article {
        margin: 5rem 2rem;
    }
    .art_container {
        max-width: 80vw;
        display: block;
    }
    .art_part {
        margin-top: 10rem;
    }
    .art_divider {
        width: 100%;
        text-align: center;
    }
    .left_img {
        display: none;
    }
    .right_img {
        text-align: center;
    }
    .right_img img {
        width: 230px;
        height: 280px;
    }
    .bottom_art {
        margin-top: 10rem;
    }
    .bottom_art img {
        width: 100%;
    }
}